<h1>Voici notre super team</h1>

<div class="d-flex">
	<div class="card mt-3 mr-3 col-6">
		<div class="card-body">
			<h5 class="card-title">Sofia</h5>
		</div>
	</div>

	<div class="card mt-3 ml-3 col-6">
		<div class="card-body">
			<h5 class="card-title">Janvier</h5>
		</div>
	</div>
</div>
