<%= form_with(model: [ @gossip, @gossip.comments.build ], local: true) do |form| %>
  <p>
    <%= form.label :content, 'Commentaire :' %><br>
    <%= form.text_area :content %>
  </p>
  <p>
    <%= form.submit 'Enregistrer', {:class=>"btn btn-success" } %>
  </p>
<% end %>